#root {
  max-width: 1280px;
  padding: 0;
  text-align: center;
    width: 100%;
    height: 100%;
    font-family: 'TT Norms', sans-serif;
}

#root {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox, Safari 18.2+, Chromium 121+ */
}
#root::-webkit-scrollbar {
    display: none;  /* Older Safari and Chromium */
}

.sidebar {
    display: flex;

    width: 38%;
    height: 100%;
    min-height: 100vh;

    border-right: 1px solid #a6b0b5;
    box-shadow: 0.15em -0.1em 5px #0000001f;

    padding: 4em;
}

.lecture-card {
    border: 1px solid slategrey;
    border-radius: 4px;
    background-color: whitesmoke;
    box-shadow: 0.05em 0.05em 5px #0000002f;

    width: 100%;
    display: flex;
    padding: 0.5em;
    position: relative;
}

.lecture-container {
    width: 100%;
    gap: 1em;
    align-content: center;
}

.preview {
    flex: 1;
    padding: 20px;
    width: 100%;
}

.ant-picker-range-separator span span svg {
    fill: slategrey !important;
}