#root {
  max-width: 1280px;
  padding: 0;
  text-align: center;
    width: 100%;
    height: 100%;
    font-family: 'TT Norms', sans-serif;
}

#root {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox, Safari 18.2+, Chromium 121+ */
}
#root::-webkit-scrollbar {
    display: none;  /* Older Safari and Chromium */
}

.sidebar {
    display: flex;
    background: radial-gradient(circle at 140% 60%, rgb(195, 140, 125) 10%, rgb(200, 159, 127) 100%);

    width: 38%;
    height: 100%;
    min-height: 100vh;

    padding: 2em;
}

.lecture-card {
    border: 1px solid slategrey;
    border-radius: 4px;
    background-color: whitesmoke;
    box-shadow: 0.15em 0.15em 5px #0000002f;

    width: 100%;
    display: flex;
    padding: 0.5em;
}

.lecture-container {
    width: 100%;
    gap: 1em;
    align-content: center;
}

.preview {
    flex: 1;
    padding: 20px;
    width: 100%;
}
